alexiv.vscode-angular2-files
Angular.ng-template
formulahendry.code-runner
GitHub.vscode-pull-request-github
jchannon.csharpextensions
michelemelluso.code-beautifier
ms-vscode.csharp
ms-vscode.Go
naumovs.color-highlight
PeterJausovec.vscode-docker
rbbit.typescript-hero
redhat.java
robinbentley.sass-indented
shakram02.bash-beautify
vscodevim.vim
waderyan.gitblame
